/**
 * @file
 * Provide configuration for the task runner.
 */

module.exports = {
  scss: [
    {
      path: "/mnt/files/local_mount/drupal/themes/[theme]",
      globs: [
        "scss/**/*.scss"
      ]
    }
  ],
  js: [
    {
      path: "/mnt/files/local_mount/drupal/themes/[theme]",
      globs: [
        "js/**/*.es6.js",
        "!node_module/**"
      ]
    }
  ]
};
